h1 {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	color: #62717A;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
}
h2 {
	font-family: Helvetica, sans-serif;
	color: #62717A;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
}

h6 {
	font-family: Helvetica, sans-serif;
	color: #C4D0D9;
	font-size: 8px;
	font-weight: lighter;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}


p { font-family: Helvetica, sans-serif;
	color: #75848C;
	font-size: 18px;
	font-weight: lighter;
	margin-top: 5px;
	line-height: 22px;
}

body {
	background-color: #808080;
	font-family: Helvetica, sans-serif;
	color: #000000
	line-height: 20px; 
	font-size: 16px;
}
strong {
	color: #D35B2B;
}
a:link {
    color: #62717A;
    text-decoration: none;
}

a:visited {
    text-decoration: none; 
	color: #62717A;
}


.box {
	width: 375px;
	height: 665px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

.loginheaderbox {
	max-width: 100%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
.headerbox {
	max-width: 100%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #F4F5F7;
}


.loginapp {
	max-width: 100%;
	height: 604px ;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #E4ECF1;

}
.app {
	max-width: 100%;
	height: 604px ;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;

}

.pagecontent {
	position: relative;
	overflow: auto;
	top: 13px;
	margin-left: 13px;
	width: 350px;
	height: 550px;
}

.bill {
	width: 328px;
	background-color: #BAE2DD;
	height: 105px;
	position: relative;
	left: 5px;
	top: 20px;
	border-radius: 10px;
	border-color: #979797;
	border-style: solid;
	border-width: 1px;
	font-family: Helvetica, sans-serif;
	color: #75848C;
	padding-top: 15px;
	padding-left: 10px;
	font-size: 18px;
}

.pay {
	width: 150px;
	background-color: #62717A;
	height: 28px;
	position: relative;
	padding-top: 9px;
	left: 95px;
	border-color: #979797;
	border-style: solid;
	border-width: 1px;
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
.pay:hover {
	opacity: 0.8;
}

/* Bordered form */
form {
    border: none;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #62717A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 50%;
    margin: 10px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
	position: relative;
	right: -70%;
    padding-top: 10px;
    font-size: 8px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #62717A;
    color: white;
    padding: 0px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    margin: 0px;
    position: relative;
    top: 0px;
    width: 61px;
    height: 61px;
    padding: 12px 16px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #62717A;
    width: 61px;
    padding: 12px 16px;
    height: 61px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    z-index: 20;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #62717A;
    width: 61px;
    z-index: 20;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff;
    padding: 12.6px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
/* removed */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* saved payment box */

.dropdownpayment {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    color: #75848C;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    border-color: #979797;
	border-style: solid;
	border-width: 1px;
	left: 5px;
	width: 328px;
}

.dropdownpayment-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 328px;
    padding-top: 10px;
    padding-left: 8px;
    top: 50px;
    z-index: 1;
    border-color: #979797;
	border-style: solid;
	border-width: 1px;
	left: 0px;
}

.dropdownpayment:hover .dropdownpayment-content {
    display: block;

}

#ctl00_Main_ucInternetCheck_txtChkAmount {
	width: 100px;
}

table {
	max-width: 340px;
	padding-left: 5px;
    border-color: #979797;
    color: #75848C;
}
input {
	color: #75848C;
}

.arrow_box {
	position: relative;
	background: #979797;
	border: 1px solid #979797;
	padding: 10px;
	margin-bottom: 20px;
	color: #ffffff;
	line-height: 20px;
	font-size: 14px;
	width: 75%;
	border-radius: 5px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #979797;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(151, 151, 151, 0);
	border-top-color: #979797;
	border-width: 11px;
	margin-left: -11px;
}

.arrow_box2 {
	position: relative;
	background: #ffffff;
	border: 1px solid #979797;
	padding: 10px;
	margin-bottom: 25px;
	color: #979797;
	line-height: 20px;
	font-size: 14px;
	width: 75%;
	border-radius: 5px;
	left: 65px;
}
.arrow_box2:after, .arrow_box2:before {
	top: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.arrow_box2:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box2:before {
	border-color: rgba(151, 151, 151, 0);
	border-top-color: #979797;
	border-width: 11px;
	margin-left: -11px;
}

#timestamp1 {
	position: absolute;
	color: #979797;
	font-size: 12px;
	right: 10px;
	top: 50px;
}
#timestamp2 {
	position: absolute;
	color: #979797;
	font-size: 12px;
	left: 10px;
	top: 140px;
}
#timestamp3 {
	position: absolute;
	color: #979797;
	font-size: 12px;
	right: 10px;
	top: 240px;
}
.contact {
	border-radius: 35px;
	position: relative;
	background-color: #F4F5F7;
	width: 50px;
	height: 50px;
	border-color: #979797;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	line-height: 50px;
	top: 10px;
	margin-bottom: 5px;
	color: #979797;
	left: 10px;
	z-index: 10;
}
.contact:hover {
	opacity: 0.8;
}
.name {
	position: relative;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #979797;	
	color: #62717A;
	line-height: 60px;
	padding-left: 100px;
	background-color: #F4F5F7;
	height: 60px;
	top: -110px;
	width: 97%;
}
.name:hover {
	opacity: 0.8;
}
hr {
	color: #979797;
}

.setting {
	position: relative;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #979797;	
	color: #62717A;
	line-height: 60px;
	padding-left: 10px;
	background-color: #F4F5F7;
	height: 60px;
	width: 97%;
}
.setting:hover {
	opacity: 0.8;
}

.notif {
	width: 328px;
	background-color: #BAE2DD;
	height: auto;
	position: relative;
	left: 5px;
	top: 20px;
	border-radius: 10px;
	border-color: #979797;
	border-style: solid;
	border-width: 1px;
	font-family: Helvetica, sans-serif;
	color: #75848C;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 20px;
}

#textstamp {
	position: absolute;
	color: #979797;
	font-size: 12px;
	right: 5px;
	bottom: 0px;
}

#delete {
	position: absolute;
	color: #ffffff;
	font-size: 12px;
	right: 0px;
	bottom: 0px;
	background-color: red;
	width: 60px;
	text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 28px;
  right: 5px;
  top: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BAE2DD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BAE2DD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
