body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}
h1 {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 24px;
	color: white;
	padding-left: 10px;
}
a {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 18px;
	color: white;
	padding-left: 10px;
}
a:visited { 
    color: white;
}
a:hover {
	color: gray;
}
