body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}
h1 {
	font-family: 'Helvetica, Arial, sans-serif';
	font-size: 20px;
	color: #ffffff;
}
a {
	font-family: 'Helvetica, Arial, sans-serif';
	font-size: 10px;
	color: #ffffff;
}
a:visited { 
    color: #ffffff;
}
a:hover {
	color: gray;
}
div {
	max-height: 70%;
	height: 70%;
}